.book > h1 {
    text-align: center;
    font-size: 48px;
    color: var(--primary-A);

}

.form {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-B);
}

fieldset {
    display: flex;
    width: 480px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-direction: column;
    background-color: var(--primary-A);
}
  
label {
    margin-bottom: 8px;
    font-size: 14px;
}
  
  
input,
select {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 32px;
    padding: 0 8px;
}
  
.field {
    position: relative;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}
  

  
.button {
    width: 200px;
    height: 32px;
    font-size: 16px;
    margin: 0 auto;
    font-weight: 600;
    background-color: var(--primary-B);
    border: 5px solid var(--primary-B);
    border-radius: 16px;
}